@mixin button($bg-color) {
    background-color: $bg-color;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}