$font-stack: 'Arial', sans-serif;
$primary-color: #4CAF50; // Verde principal
$secondary-color: #f2f2f2 !default; // Cor clara para fundo/tabelas
$border-color: #ddd;

$padding: 15px;
$margin: 10px;

@debug $secondary-color;